:root {
   --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
   --primary-color: #6c63ff;
}
/*Main page*/
.container {
   margin: 0px auto;
   max-width: 1320px;
   max-height: 546px;
}
h2 {
   font-size: 48px;
   text-align: center;
   margin-top: 100px;
}
h1 {
   font-size: 96px;
   text-align: center;
}
h3 {
   font-size: 24px;
   text-align: center;
   opacity: 0.7;
}
.buttons {
   display: flex;
   justify-content: center;
   margin: 40px;
}
.contact-btn {
   margin: 20px;
   border-radius: 4px;
   padding: 20px 15px;
   text-decoration: none;
   text-transform: capitalize;
   background: var(--primary-color);
   box-shadow: var(--box-shadow);
   color: white;
}
.about-btn {
   margin: 20px;
   border-radius: 4px;
   padding: 20px 15px;
   text-decoration: none;
   text-transform: capitalize;
   color: var(--primary-color);
   border: 1px solid var(--primary-color);
}
.title {
   font-size: 48px;
   font-weight: 600;
}
.text {
   font-size: 18px;
   line-height: 1.5;
}
.app-btn {
   padding: 20px 15px;
   border-radius: 4px;
   text-transform: capitalize;
   text-decoration: none;
   background: var(--primary-color);
   box-shadow: var(--box-shadow);
   color: white;
}
.h1-about {
   margin-top: 100px;
   margin-bottom: 0;
}
.h3-about {
   margin-bottom: 30px;
}
.about-info p {
   margin-bottom: 30px;
   text-align: center;
}
p {
   padding: 0 10px;
   font-size: 18px;
    line-height: 1.5;
}
.img-fluid {
   padding: 0 10px;
}
.contact {
   margin-top: 100px;
   line-height: 1.3;
}
.contact-me {
   font-size: 48px;
   text-align: center;
   font-weight: 600;
}
.email-link {
   display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
}
@media(max-width:992px) {
   .container {
      max-width: 800px;
   }
   h2 {
      font-size: 30px;
      margin-top: 100px;
   }
   h1 {
      font-size: 50px;
   }
   h3 {
      font-size: 20px;
   }
   .buttons {
      margin: 25px;
   }
   .contact-btn {
      margin: 15px;
      padding: 15px 10px;
   }
   .about-btn {
      margin: 15px;
      padding: 15px 10px;
   }
   .title {
      font-size: 24px;
      font-weight: 600;
   }
   .text {
      font-size: 15px;
      line-height: 1;
   }
   .app-btn {
      padding: 15px 15px;
      font-size: 10px;
   }
   p {
      padding: 0 10px;
      margin: 0 15px;
      font-size: 15px;
       line-height: 1.5;
   }
   .img-fluid {
      margin: 0 10px;
   }
   .contact {
      margin-top: 50px;
   }
   .contact-me {
      font-size: 30px;
   }
   .email-link {
       font-size: 18px;
   }

}
@media(max-width:768px) {
   .container {
      max-width: 550px;
   }
   .buttons {
      margin: 25px;
   }
   .contact-btn {
      margin: 15px;
      padding: 10px 10px;
   }
   .about-btn {
      margin: 15px;
      padding: 10px 10px;
   }
   .title {
      font-size: 23px;
      font-weight: 600;
   }
   .text {
      font-size: 13px;
      line-height: 1;
   }
   .h1-about {
      font-size: 50px;
   }
   .h3-about {
      margin-bottom: 20px;
   }
   p {
      font-size: 15px;
       line-height: 1.5;
       padding: 0 10px;
   }
   .contact-me {
      font-size: 25px;
   }
   .email-link {
       font-size: 15px;
   }
}
@media(max-width:576px) {
   .container {
      max-width: 400px;
   }
   .col-6 {
      width: 100%;
   }
   h2 {
      font-size: 25px;
   }
   h1 {
      font-size: 50px;
   }
   h3 {
      font-size: 15px;
   }
   .buttons {
      margin: 20px;
   }
   .contact-btn {
      margin: 10px;
      padding: 10px 15px;
   }
   .about-btn {
      margin: 10px;
      padding: 10px 15px;
   }
   .title {
      font-size: 30px;
      font-weight: 600;
      text-align: center;
   }
   .text {
      font-size: 15px;
      line-height: 1.5;
      text-align: center;
   }
   .app-link {
      text-align: center;
   }
   .app-btn{

      padding: 15px 15px;
      font-size: 10px;
   }
   .h1-about {
      font-size: 40px;
      margin-top: 100px;
      margin-bottom: 0;
   }
   .h3-about {
      font-size: 18px;
      margin-bottom: 30px;
   }
   .about-info p {
      margin-bottom: 30px;
      text-align: center;
   }
   p {
      font-size: 12px;
       line-height: 1.5;
   }
   .img-fluid {
      padding: 0 10px;
      margin-bottom: 15px;
   }
   .contact {
      padding-bottom: 30px;
   }
   .contact-me {
      font-size: 30px;
   }
   .email-link {
       font-size: 15px;
   }
}
@media(max-width:368px) {
   .col-6 {
      width: 100%;
   }
   h2 {
      font-size: 20px;
   }
   h1 {
      font-size: 30px;
   }
   h3 {
      font-size: 15px;
   }
   .buttons {
      margin: 10px;
   }
   .contact-btn {
      margin: 10px;
      padding: 10px 10px;
   }
   .about-btn {
      margin: 10px;
      padding: 10px 10px;
   }
   .title {
      font-size: 18px;
   }
   .text {
      font-size: 10px;
   }
   .app-link {
      text-align: center;
   }
   .app-btn{
      padding: 10px 10px;
      font-size: 10px;
   }
   .h1-about {
      font-size: 30px;
   }
   .h3-about {
      font-size: 15px;
      padding: 0 5px;
   }
   .about-info p {
      margin-bottom: 20px;
      text-align: center;
   }
   p {
      font-size: 10px;
       line-height: 1.5;
   }
   .img-fluid {
      margin: 0 10px;
   }
   .contact {
      line-height: 1.3;
   }
   .contact-me {
      font-size: 25px;
   }
   .email-link {
       font-size: 10px;
   }
}